*[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

body {
    background: #f9f9f9;
    color: #0e171c;
    font: 300 100%/1.5em 'Lato', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 22px;
    line-height: 20px;
    margin: 4px 0;
}

h3 {
    font-size: 24px;
    line-height: 24px;
    margin: 5px 0;
}

table {
    border-spacing: 0;
    width: 100%;
}

.calendar-container {
    height: 538px;
    left: 50%;
    margin: -255px 0 0 -245px;
    position: absolute;
    top: 45%;
    width: 510px;
}

.calendar {
    text-align: center;
}

.calendar header {
    position: relative;
}

.calendar h2 {
    text-transform: uppercase;
}
.calendor {
    max-width: 100% !important;
    background-color: transparent !important;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    width: 100% !important;
    border-top: none !important;
    border-left: none !important;
}

.calendar thead {
    font-weight: 600;
    text-transform: uppercase;
}

.calendar tbody {
    color: #7c8a95;
}

.calendar tbody td:hover {
    border: 2px solid #c0392b;
}

.calendar tbody td.active {
    border: 2px solid #c0392b;
}

.calendar td {
    border: 1px solid transparent;
    border-radius: 50%;
    height: 45px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    width: 12%;
    padding: 1px;
    float: left;
}

.current-day {
    background: #c0392b;
    color: #f9f9f9;
}

.event {
    cursor: pointer;
    position: relative;
}

.event:after {
    background: #c0392b;
    border-radius: 50%;
    bottom: 8px;
    display: block;
    content: '';
    height: 8px;
    left: 50%;
    margin: -4px 0 0 -4px;
    position: absolute;
    width: 8px;
}

.event.current-day:after {
    background: #f9f9f9;
}

.btn-prev,
.btn-next {
	border: 2px solid #cbd1d2;
	border-radius: 50%;
	color: #cbd1d2;
	height: 32px;
	font-size: 22px;
	line-height: 28px;
	margin: -16px;
	position: absolute;
	top: 50%;
	width: 32px;
}

.btn-prev:hover,
.btn-next:hover {
    background: #cbd1d2;
    color: #f9f9f9;
}

.btn-prev {
    left: 30px;
}

.btn-next {
    right: 35px;
}

.list {
    margin-top: 20px;
}

.close {
    color: #A4AAAB;
    margin-top: -15px;
    margin-right: 10px;
    float: right;
}

.day-event {
    background-color: #F2F2F2 ;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 50px;
    display:none;

}

.day-event p{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.day-event span{
    font-size: 12px;
}

.day-event button {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 18px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #c0392b;
    border: 0;
    border-bottom: 2px solid #b53224;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #b53224;
    box-shadow: inset 0 -2px #b53224;
}

.check-btn {
    width: 100%;
}
input[type=checkbox] {display:none;}

/*span {
    background-color:#373740;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    font-weight:700;
    color:#FFF;
    font-size:.85em;
    letter-spacing:2px;
    text-decoration:none;
    font-family:'PT Sans', sans-serif;
    text-align:center;
    width:100%;
    height:50px;
    line-height:50px;
    cursor:pointer;
    display:block;
    margin: 0 auto;
    -webkit-transition:background-color 150ms ease-in;
    -moz-transition:background-color 150ms ease-in;
    -ms-transition:background-color 150ms ease-in;
    -o-transition:background-color 150ms ease-in;
    transition:background-color 150ms ease-in;
}*/

span:hover {
    background-color:#c0392b;
}

input[type=checkbox]:checked + span {
    background-color:#9C2E23;
    text-decoration:none;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background:#9C2E23 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAaCAYAAACgoey0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAX9JREFUeNpi+P//PwMNsS4QbwBiLnQ5WlqqAsRP/0PARiBmoYfFkkB8+z8qWALEjLS0mB+IL/3HDibSymJQXB7/jx/UgNSCvU4lwAbEG4DYkwi1WUxUspQZiOcRaSkIWOAKMk0Sg3jaf+IBOIVjMyQWiH8DsR+RljaTYOkBWJ5GNwRk2R+ooh9A7ETA0jwSLL0ATfEYqRpkyVc0xR+A2AyHpdFA/I9IS0F5WhRbAWIEtQQbeAXE6lhC5jeRlj4GYgVsRaYK1HBCmmWgmuyxhAwu8BpaXjNgs/gYkYbcAGIXPCGDDkCOM8eVPkCEFhE+JhX8BGJnfAkTxgC57BOVLAXlihBC2RA9Vf+k0FJQKk8nJv+jCwQi5WNyQAWxpR02wRQS8icy6CKlmMUlUUGipfOQK3lKLAbhdhIKfWZS6258kiAfzCZg6V4gZiOn0UBIAcgn63BYehK50Ke2xQxQH+3FUoqJUtJMIlYhLxAfxVJu09xiWENuMxCrUaNhCBBgAOAVfjALa5TLAAAAAElFTkSuQmCC) no-repeat 7% center;
    background-size:15px 13px;
}

input[type=checkbox]:checked:hover + span {
    background-color:#9C2E23;
    color:rgba(255,255,255,0.5);
    text-decoration:none;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background:#9C2E23 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAS5JREFUeNq8110OgjAMAGBGvIY3VESjt9jPg95PT+LccBIZ7dYOWJPGB+g+Ymg3hLW2QeLkcu/y2pSFdvl0eQevehjI3uXbfkMh96TShFq/xhG6J4faAtxEtSBOQTm4QWpnOBWl4CZT69fuYpiCpnBDrB1xLhrjgoFO8F1oGcFslUv4bV32zFoxmOHJta0XMn65dC0UaiddA8UGiN4axeC1cUkdmWviEls/NwL1FqjPNtNvoimPdC3yRCUTiTXbt0R/oSnw2iiK10BBvBY6w2uiE3xJr8oFtcrvxy/fVcyeVdGx98yotcOxN/znHeMUIhdMOG8c4reagssF43VEoT5O4ZJwvNUUFJtcEE5BMXyGpnanf5yDxjiI+hSJj7YunEBvhbuTCh9tD+jiR4ABAJ0SrJgNr1UAAAAAAElFTkSuQmCC) no-repeat 7% center;
    background-size:15px 15px;
}

.print-btn {
    padding: 1px 14px 5px 14px;
}


/* login screen css */

.sheet--sign-in, .sheet--browser {
    position: relative;
    background: #fff;
    box-shadow: 0 1px 3px 0 #bfbfbf;
    border-radius: 0.6rem;
    padding: 3rem;
    margin: 0 auto;
    max-width: 35rem;
}
.recordable--balloon:before {
    border-bottom-color: rgba(0,0,0,0.05);
    top: -3.2rem;
}
.recordable--balloon:before, .recordable--balloon:after {
    z-index: 0;
    border-width: 1.7rem;
    margin-left: -1.7rem;
    top: -3.1rem;
    border-color: rgba(255,255,255,0);
}
.recordable--balloon:after, .recordable--balloon:before {
    bottom: -1px;
    left: 50%;
    border: solid rgba(255,255,255,0);
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    z-index: 3;
}
.push--bottom {
    margin-bottom: 1.25em !important;
    text-align: center;
}
.flush--top {
    margin-top: 0 !important;
}
.push_half--bottom {
    margin-bottom: 0.625em !important;
}
.flush {
    margin: 0 !important;
}
.session-fields__attribute {
    margin-bottom: 0.8em;
}
.session-fields__label {
    font-weight: bold;
}
.session-fields__email, .session-fields__button, .session-fields__signup {
    display: block;
    width: 100% !important;
}
.input--text {
    -webkit-transition: box-shadow 0.15s ease-in-out;
    -moz-transition: box-shadow 0.15s ease-in-out;
    -ms-transition: box-shadow 0.15s ease-in-out;
    -o-transition: box-shadow 0.15s ease-in-out;
    transition: box-shadow 0.15s ease-in-out;
    max-width: 100%;
    border-radius: 0.4rem;
    border: 1px solid #bfbfbf;
    padding: 1rem;
    background-color: #fff;
    font-family: inherit;
    font-weight: inherit;
    -webkit-appearance: none;
}
.action_button.primary {
    background-color: #3cb371;
    border-color: #3cb371;
    border-bottom-color: rgba(0,0,0,0.15);
    color: #fff;
}
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
.session-fields__button, .session-fields__signup {
    display: block;
    width: 100%;
}
.action_button, .emoji-button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-color: rgba(0,0,0,0.15);
    border-bottom-width: 2px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    display: inline-block;
    line-height: inherit;
    white-space: normal;
    vertical-align: middle;
    transition: box-shadow 0.15s ease-in-out;
    max-width: 100%;
    border-radius: 0.4rem;
    border: 1px solid #bfbfbf;
    padding: 1rem;
    font-size: 20px;
}

.sheet--sign-in .flash-notice {
    margin-top: -7px;
}


.flash-notice {
    -webkit-animation: scale-fade-in 0.2s linear;
    -moz-animation: scale-fade-in 0.2s linear;
    -o-animation: scale-fade-in 0.2s linear;
    animation: scale-fade-in 0.2s linear;
    text-align: center;
    position: absolute;
    top: -12px;
    left: 0;
    right: 0;
    z-index: 10;
}
.flash-notice__content {
    display: inline-block;
    padding: 0.33em 1em;
    border-radius: 3rem;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    font-family: inherit;
    line-height: 1.5;
}

/*  Left Navigation Menu css */

.sidebar {
    z-index: 1;
    position: absolute !important;
    width: 200px !important;
    margin-top: 46px;
}
.navbar-default {
    background-color: white;
    border-color: #e7e7e7;
}
.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.sidebar .sidebar-search {
    padding: 15px;
}
.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}
.nav>li {
    position: relative;
    display: block;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.sidebar ul li a.active {
    background-color: #eee;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
/* End of left navigation menu */

.form-group {
    margin-bottom: 30px;
}

.btn-pad {
    padding: 12px 25px;
}

/* invite list */
.person-form-bulk__sticky-header {
    z-index: 5;
    background: #fff;
    top: 39px;
    padding-top: 1em;
    margin-top: -1em;
}
.person-form-bulk--fixed {
    margin-top: 0.5em;
    display: table;
    width: 100%; 
    text-align: left;
}
.person-form-bulk {
    font-size: 1.4rem;
}
 .person-form-bulk__person {
    display: table-row;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
}

.person-form-bulk__attribute{ 
    display: table-cell;
    vertical-align: middle;
    padding: 0 0.6rem 0.6rem 0;
}
.person-form-bulk__label {
    display: table-cell;
    vertical-align: middle;
    padding: 0 0.6rem 0.6rem 0;
}
.person-form-bulk__header, .person-form-bulk__person {
    display: table-row;
    width: 100%;
    background-color: #fff;
}
 .person-form-bulk__label {
    width: 25%;
    display: table-cell;
    vertical-align: middle;
    padding: 0 0.6rem 0.6rem 0;
}
.person-form-bulk__label {
    font-weight: bold;
    padding-bottom: 0;
    line-height: 1.1;
        font-size: 1.6rem;
}
.person-form-bulk__person {
    display: table-row;
    width: 100%;
    background-color: #fff;
}

.person-form-bulk__person .person-form-bulk__label {
    display: none;
}
.person-form-bulk__attribute .person-form-bulk__simulate-disabled-input, .person-form-bulk__attribute input:disabled, .person-form-bulk__label .person-form-bulk__simulate-disabled-input, .person-form-bulk__label input:disabled {
    -webkit-text-fill-color: #000;
    -webkit-opacity: 1;
    color: #000;
    border: 1px solid #e5e5e5;

}
.person-form__optional {
    color: #aa9c84;
    font-weight: normal;
}
.person-form-bulk__sticky-header .person-form-bulk__label {
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
}

.input--text{
    max-width: 100%;
    border-radius: 0.4rem;
    border: 1px solid #bfbfbf;
    padding: 8px;
    background-color: #fff;
    font-family: inherit;
    font-weight: inherit;
    -webkit-appearance: none;
    font-size: 16px;
}

.person-form-bulk__attribute .person-form-bulk__simulate-disabled-input, .person-form-bulk__label .person-form-bulk__simulate-disabled-input {
    white-space: nowrap;
    overflow: hidden;
        transition: box-shadow 0.15s ease-in-out;
}

.project-header {
    padding: 1rem 0;
}

.flash-notice__icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.33em;
    background: url(../icons/checkmark-green-7653b9ad0d09eabca83155b834e260e2ad05b1dfffa209fd7f035f4c158cc9c6.svg) center center no-repeat;
    background-size: 100%;
    vertical-align: middle;
}

.flash-notice--error .flash-notice__icon {
    background-image: url(../icons/error-red-839d698c5424544b36074568fcfabcf5a8cf26124f22d3a9c21eb6a4d462cc42.svg);
}
.flash-notice--error .flash-notice {
    -webkit-animation: scale-fade-in 0.2s linear;
    -moz-animation: scale-fade-in 0.2s linear;
    -o-animation: scale-fade-in 0.2s linear;
    animation: scale-fade-in 0.2s linear;
    text-align: center;
    position: absolute;
    top: -12px;
    left: 0;
    right: 0;
    z-index: 10;
}
.flash-notice--error .flash-notice__content {
    display: inline-block;
    padding: 0.33em 1em;
    border-radius: 10px;
    background-color: #f2dede;
    color: #a94442;
    font-size: 15px;
    font-weight: bold;
    font-family: inherit;
    line-height: 1.5;
}

/* end login screen css */

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* STYLES GO HERE */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* STYLES GO HERE */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* STYLES GO HERE */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
}

/* iPhone 5 (portrait & landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
/* STYLES GO HERE */
}

/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */
}

/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */
}